apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-tls
  namespace: argocd
spec:
  secretName: argocd-tls
  issuerRef:
    name: selfsigned-lab
    kind: ClusterIssuer
  dnsNames:
  - argocd.dev.pipelinebr
